<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <doit_handling_fee>
            <general>
                <enabled>0</enabled>
                <amount>5</amount>
            </general>
        </doit_handling_fee>
    </default>
</config>
