<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="Magento\Sales\Model\Order\CreditmemoFactory">
        <plugin name="doit_handling_fee_creditmemo_factory"
                type="Doit\HandlingFee\Plugin\CreditmemoFactoryPlugin"/>
    </type>

</config>
